<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subasta en Vivo</title>
</head>
<body>
    <app-bar (Cartera)="recibirVariable($event)"></app-bar>
    <div class="auction-container">
        <div *ngIf="subasta" class="product-details">
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <h1>Artículo en Subasta</h1>
                <button *ngIf="(!this.termino && this.dueno == 1) || (this.termino && this.dueno !== 1)" class="a-button" (click)="openPopup3()" [disabled]="subastadores.length==0">Cerrar Subasta</button>
            </div>
            <div class="img-product">
                <img src={{img_path+articulo.imagen_path}} alt="Imagen del Producto">
            </div>
            <p class="fecha">Tiempo restante de la subasta: {{formato}}</p>
            <p>{{articulo.nombre_articulo}}</p>
            <p>Cantidad Disponible: {{articulo.cantidad}} {{articulo.cantidad == 1 ? 'unidad' : 'unidades'}}</p>
            <p>Correo Vendedor: {{articulo.email}}</p>
            <strong><p>Puja Actual: {{subasta.precio_venta.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' })}}</p></strong>
            
        </div>
        <div class="bidders-list">
            <div class="list-self">
                <h2>Lista de Compradores</h2>
                <ul class="bidders">
                    <li *ngFor="let subastador of subastadores">
                        <div class="user-info">
                            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Foto del Usuario">
                            <div class="user-data">
                                <span class="user-name"><strong>{{subastador.puja.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' })}}</strong> • {{subastador.nombre+" "+subastador.apellido}}</span>
                                <span class="comment-date">Fecha: {{fecha(subastador.fecha_puja)}}</span>
                            </div>
                        </div>
                    </li>
                    <li *ngIf="subasta" class="initial-price">Precio inicial: <strong>{{subasta.precio_inicial.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' })}}</strong></li>
                </ul>
            </div>
            <div class="button-self">
                <button class="button" *ngIf="!showForm" (click)="mostrarFormulario()" [disabled]="termino">Hacer una Puja</button>
                <div *ngIf="showForm" id="bid-form">
                    <h3>Ingrese su Puja</h3>
                    <form (submit)="openPopup()">
                        <label for="bid-amount">Cantidad:</label>
                        <label for="bid-amount">Max:{{cartera.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' })}}</label>
                        <input class="input" type="number" min={{subasta.precio_inicial+1}} max={{cartera}} id="bid-amount" name="bid-amount" [(ngModel)]="monto">
                        <p style="font-size: 10px;">Revise los <a style="text-decoration: underline;color: blue; cursor: pointer;" (click)="openPopup2()">terminos y condiciones</a> de subasta online con cartera digital</p><br>
                        <button class="button" type="submit">Enviar Puja</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showPopup" class="popup">
        <div class="popup-content">
          <p>¿Estás seguro de realizar la puja?</p>
          <button class="cancel-btn" (click)="closePopup()">Cancelar</button>
          <button class="confirm-btn" (click)="ofrecerPuja()">Realizar Puja</button>
        </div>
    </div>
    <div *ngIf="showPopup3" class="popup">
        <div class="popup-content">
          <p>¿Estás seguro cerrar la subasta?</p>
          <button class="cancel-btn" (click)="closePopup3()">Cancelar</button>
          <button class="confirm-btn" (click)="cerrarSubasta()">Cerrar Subasta</button>
        </div>
    </div>
    <div *ngIf="showPopup2" class="popup2">
        <div class="popup2-content">
            <h1>Términos y Condiciones de Subasta Online con Cartera Digital</h1><br>
            <h2>1. Introducción</h2>
            <p>1.1. Estos términos y condiciones (en adelante, "Términos") regulan el uso de la plataforma de subasta online (en adelante, "Plataforma") proporcionada por MyGreenFashion, en la que los participantes pueden ofertar y adquirir productos.</p>
            <p>1.2. Al acceder y utilizar la Plataforma, el usuario acepta expresamente estos Términos y se compromete a cumplir con todas las disposiciones aquí establecidas.</p><br>
            <h2>2. Registro y Cartera Digital</h2>
            <p>2.1. Para participar en las subastas, los usuarios deben registrarse en la Plataforma proporcionando información veraz y actualizada.</p>
            <p>2.2. La participación en las subastas está condicionada a la utilización de una cartera digital asociada a la cuenta del usuario en la Plataforma.</p><br>
            <h2>3. Depósito en la Cartera Digital</h2>
            <p>3.1. Antes de participar en una subasta, los usuarios deben realizar un depósito de fondos en su cartera digital. Este depósito servirá como medio de pago para las adquisiciones realizadas durante la subasta.</p>
            <p>3.2. Los fondos depositados en la cartera digital no devengarán intereses y serán utilizados exclusivamente para las transacciones dentro de la Plataforma.</p><br>
            <h2>4. Desarrollo de las Subastas</h2>
            <p>4.1. Las subastas se llevarán a cabo según las reglas establecidas por MyGreenFashion.</p>
            <p>4.2. Al finalizar la subasta y adjudicarse un producto, el monto correspondiente será deducido automáticamente de la cartera digital del ganador.</p><br>
            <h2>5. Responsabilidad y Garantías</h2>
            <p>5.1. MyGreenFashion no se hace responsable de las ofertas realizadas por los usuarios ni de la calidad, autenticidad o legalidad de los productos subastados.</p>
            <p>5.2. Los usuarios reconocen que participan en las subastas bajo su propio riesgo y que MyGreenFashion no garantiza la disponibilidad continua y sin interrupciones de la Plataforma.</p><br>
            <h2>6. Cancelación y Reembolsos</h2>
            <p>6.1. No se aceptarán cancelaciones de ofertas ni se realizarán reembolsos una vez finalizada una subasta y realizada la deducción correspondiente de la cartera digital.</p><br>
            <h2>7. Modificaciones y Actualizaciones</h2>
            <p>7.1. MyGreenFashion se reserva el derecho de modificar estos Términos en cualquier momento. Las actualizaciones se harán efectivas al momento de su publicación en la Plataforma.</p><br>
            <button class="cancel-btn" (click)="closePopup2()">Cerrar</button>
        </div>
    </div>
    <footer>
        <p>&copy; 2023 MyGreenFashion. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
