/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://images5.alphacoders.com/132/1325121.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
}

.login-form h1 {
    margin: 0 0 20px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
}

.login-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #777;
    border-radius: 5px;
}

.login-form button {
    background-color: #61CF06;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #41AF06;
}

.options {
    margin-top: 10px;
}

.options a {
    font-size: 10px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.options a:hover {
    color: #999;
}