<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Productos</h1>

    <input type="text" placeholder="Buscar por ID de Producto" (input)="searchProducts($event)">

    <table class="product-table">
    <thead>
        <tr>
        <th>ID</th>
        <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
        <td>{{ product.email }}</td>
        <td>{{ product.nombre }} {{ product.apellido }}</td>
        </tr>
    </tbody>
    </table>

    <div id="pagination">
    <ul>
        <li *ngFor="let page of pages" (click)="changePage(page)">{{ page }}</li>
    </ul>
    </div>

</body>
</html>


