body{
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #333, #000);;
    height: 100vh;
    padding: 10px;
    color: #fff;
}

.product-list {
    list-style: none;
    padding: 0;
    margin: 10px;
}

.product-list li {
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
}

#pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

#pagination li {
    margin: 5px;
    cursor: pointer;
}
.product-table {
    width: 95%;
    border-collapse: collapse;
    margin: 10px auto; /* Centra la tabla horizontalmente */
  }
  
  .product-table th, .product-table td {
    background-color: #ddd;
    border: 1px solid #999;
    color: #333;
    padding: 8px;
    text-align: left;
    white-space: nowrap; /* Evita que el contenido se divida en múltiples líneas */
  }
  
  .product-table th {
    color: #ddd;
    background-color: #333;
  }
  
  @media (max-width: 767px) {
    .product-table {
      display: block;
    }
    .product-table thead {
      display: none;
    }
    .product-table tbody {
      display: block;
    }
    .product-table tr {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .product-table td {
      min-width: 300px !important;
      padding: 8px;
      text-align: center;
    }
  }
  