<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
</head>
<body>
    <app-bar></app-bar>
    <section class="profile-container">
        <div class="profile-content">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Foto de Perfil">
            <h2>{{perfil.nombre+" "+perfil.apellido}}</h2>
            <p>{{perfil.email}}</p>
            <p>Fecha de Nacimiento: {{ perfil.fecha | date: 'd \'de\' MMMM \'de\' y' }}</p>
            <p>Teléfono: {{perfil.telefono}}</p>
            <p>Dirección: {{perfil.direccion+", "+perfil.ciudad}}, Chile</p>
            <p>Cartera: {{perfil.cartera.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' })}}</p>
            <a href="/subirArticulo"><button>Subir Artículo</button></a>
        </div>
        <div class="options-panel">
            <h3>Opciones</h3>
            <ul>
                <li><a href="editarUsuario">Editar Perfil</a></li>
                <li><a href="contrasena">Cambiar Contraseña</a></li>
                <li><a href="depositar">Depositar en mi Cartera</a></li>
                <li><a href="listadoCompra">Mis Compras</a></li>
                <li><a href="misArticulos">Mis Artículos</a></li>
                <li><a (click)="openPopup()">Cerrar Sesión</a></li>
            </ul>
        </div>
        <div *ngIf="showPopup" class="popup">
            <div class="popup-content">
              <p>¿Estás seguro de que deseas cerrar sesión?</p>
              <button class="cancel-btn" (click)="closePopup()">Cancelar</button>
              <button class="confirm-btn" (click)="logout()">Cerrar Sesión</button>
            </div>
        </div>
    </section>
</body>
</html>
