/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    height: 150vh;
    margin: 0;
    padding: 0;
    background-image: url(https://images5.alphacoders.com/132/1325121.png);
    background-size: cover;
    background-position: center;
    color: #fff;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.register-form {
    background-color: #111;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
}
.sex{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-form h1 {
    margin: 0 0 20px;
}

.register-form label {
    display: block;
    margin-bottom: 5px;
}

.register-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #777;
    border-radius: 5px;
}

.register-form button {
    background-color: #61CF06;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-form button:hover {
    background-color: #41AF06;
}
