<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyGreenFashion</title>
</head>
<body>
    <app-shop-bar></app-shop-bar>
    <main>
        <section class="banner">
            <h1>Articulos en Subasta</h1>
        </section>
        <section class="main">
            <div *ngIf="subastas.length == 0">
                <h2 style="color: #ddd; font-style: italic; font-weight: lighter;">No hay subastas disponibles en este momento</h2>
            </div>
            <div *ngFor="let subasta of subastas" class="product">
                <div style="display: flex; flex-direction: column; justify-content: start;">
                    <div class="img-container">
                        <img src={{img_path+subasta.imagen_path}} alt="Producto 2">
                    </div>
                    <p *ngIf="subasta.en_subasta==2" style="color: #FF0000; font-weight: bold;">Subasta Cerrada</p>
                    <p *ngIf="subasta.en_subasta==1" style="color: #61CF06; font-weight: bold;">Artículo en Subasta</p>
                    <h2>{{subasta.nombre_articulo}}</h2>
                    <p>{{subasta.descripcion}}</p>
                    </div>
                <div>
                    <p class="price">puja actual: {{subasta.precio_venta.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' })}}</p>
                    <a href="subasta/{{subasta.id_subasta}}"><button class="product-button">Ingresar a subasta</button></a>
                </div>
            </div>
        </section>
        <div class="skip"></div>
        <section class="main">
            
        </section>

    </main>

    <footer>
        <p>&copy; 2023 MyGreenFashion. Todos los derechos reservados.</p>
    </footer>
</body>
</html>