<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyGreenFashion</title>
</head>
<body>
    <app-shop-bar></app-shop-bar>
    <main>
        <section class="banner">
            <h1>Articulos en Venta</h1>
        </section>
        <section class="main">
            <div *ngFor="let articulo of articulos" class="product">
                <div>
                    <div class="img-container">
                        <img src={{img_path+articulo.imagen_path}} alt="Product-Image+{{articulo.id_articulo}}">
                    </div>
                    <h2>{{articulo.nombre_articulo}}</h2>
                    <p>{{articulo.descripcion}}</p>
                </div>
                <div>
                    <p class="price">{{articulo.precio.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' })}}</p>
                    <div class="product-buttons">
                        <a><button (click)="agregarCarrito(articulo.id_articulo)">Agregar al Carrito</button></a>
                        <a href="articulo/{{articulo.id_articulo}}"><button>Mas Informacion</button></a>
                    </div>
                </div>
            </div>
        </section>
        <div class="skip"></div>
        <section class="banner2">
            <div>
                <h1>Articulos en Subasta</h1>
                <h2 style="color: #ddd; font-style: italic; font-weight: lighter; font-size: 14px;">Eche un vistazo a las subastas que se ofrecen</h2>
            </div>
            <a href="subastas"><button>Ver Subastas</button></a>
        </section>
        <section class="main">
            <div *ngFor="let articulo of articulos2" class="product">
                <div>
                    <div class="img-container">
                        <img src={{img_path+articulo.imagen_path}} alt="Product-Image+{{articulo.id_articulo}}">
                    </div>
                    <h2>{{articulo.nombre_articulo}}</h2>
                    <p>{{articulo.descripcion}}</p>
                </div>
                <div>
                    <p class="price">{{articulo.precio.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' })}}</p>
                    <div class="product-buttons">
                        <a><button (click)="agregarCarrito(articulo.id_articulo)">Agregar al Carrito</button></a>
                        <a href="articulo/{{articulo.id_articulo}}"><button>Mas Informacion</button></a>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer>
        <p>&copy; 2023 MyGreenFashion. Todos los derechos reservados.</p>
    </footer>
</body>
</html>