<div class="menu">
    <div class="menu_container">
      <img class="logo_img" src="/assets/images/maxlogo.png" alt="">
    <div class="search-bar">
        <input type="text" id="search-input" placeholder="Buscar...">
        <button id="search-button">Buscar</button>
    </div>
      <ul class="menu_links">
        <li class="menu_item">
          <a href="principal" class="menu_link">Inicio</a>
        </li>
        <li class="menu_item">
            <a href="subastas" class="menu_link">Subastas</a>
          </li>
        <li class="menu_item" *ngIf="cookie">
          <a href="carrito" class="menu_link">Carrito<img src="/assets/images/cart.png" class="cart-icon"></a>
        </li>
        <li class="menu_item menu_item--show">
          <a href='login' *ngIf="!cookie; else Logeado" class='menu_link'>Iniciar Sesión</a>
          <ng-template #Logeado>
            <a href="perfil" class='menu_link'>Perfil<p class="money"> <br>{{money.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' })}}</p></a>
          </ng-template>
        </li>
      </ul>
      <div class="menu_hamburger">
        <img src="/assets/images/menu.svg" class="menu_img">
      </div>
    </div>
  </div>
  