<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyGreenFashion</title>
</head>
<body>
    <app-bar></app-bar>
    <main>
        <section class="web-container">
            <h1>Mis Artículos</h1>
        </section>
        <section class="main">
            <div *ngFor="let articulo of articulos" class="product">
                <div class="img-container">
                    <img src={{img_path+articulo.imagen_path}} alt="Product-Image+{{articulo.id_articulo}}">
                </div>
                <p *ngIf="articulo.en_subasta==0"><br></p>
                <p *ngIf="articulo.en_subasta==1" style="color: #61CF06;">Artículo en Subasta</p>
                <h2>{{articulo.nombre_articulo}}</h2>
                <p>{{articulo.descripcion}}</p>
                <p class="price">{{articulo.precio.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' })}}</p>
                <div class="product-buttons">
                    <a><button (click)="openPopup(articulo.id_articulo)" [disabled]="articulo.en_subasta!=0">Subastar artículo</button></a>
                    <a *ngIf="articulo.en_subasta==0; else lot" href="articulo/{{articulo.id_articulo}}"><button>Mas Informacion</button></a>
                    <ng-template #lot>
                        <a href="subasta/{{articulo.id_subasta}}"><button>Mas Informacion</button></a>
                      </ng-template>
                </div>
            </div>
        </section>
        <div class="skip"></div>
    </main>
    <footer>
        <p>&copy; 2023 MyGreenFashion. Todos los derechos reservados.</p>
    </footer>
    <div *ngIf="showPopup" class="popup">
        <div class="popup-content">
          <p>¿Deseas Poner este Articulo en Subasta?</p>
          <button class="cancel-btn" (click)="closePopup()">Cancelar</button>
          <button class="confirm-btn" (click)="crearSubasta(id_articulo)">Subastar</button>
        </div>
    </div>
</body>
</html>